<a id="select-city-header">{{ currentCity }}</a>

<div id="modalContainerCS">
    <div class="city-selector">
        <span id="close-city-selector">X</span>
        <p>Выбор города</p>
        <div class="city-osnova">
            <ul>
                {% for m in widget.location.cities if m.osnova %}
                    <li><a data-id="{{ m.id }}" href="{{ m.link }}"> {{ m.name }} </a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="city-oblast">
            <ul>
                {% for m in widget.location.cities if m.oblast %}
                    <li><a data-id="{{ m.id }}" href="{{ m.link }}"> {{ m.name }} </a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="city-full">
            <ul>
                {% for m in widget.location.cities %}
                    <li><a data-id="{{ m.id }}" href="{{ m.link }}"> {{ m.name }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
