<div class="cities-general">
    <span class="cities-select" id="cities-select">
           {% if widget.location.city.name is defined %}
               <i class="fas fa-map-marker-alt fa-lg"></i>
               {{ widget.location.city.name }}
           {% endif %}
    </span>

    <div class="cities-container" id="cities-container">
        <div class="cities-main-window">
            <div class="cities-main-window-inner">
                <span class="cities-main-window-inner-title">
                    Выберите город
                </span>
                <div class="cities-main-window-inner-search">
                    <input type="text" name="searchCities" id="searchCities" placeholder="Начните вводить город"/>
                </div>
                <div class="cities-container-close" id="main-window-close">
                    <i class="fas fa-times text-secondary"></i>
                </div>
            </div>
            <div class="cities-main-window-list clearfix" id="cities-main-window-list">

                {% if widget.location.cities|length > 0 %}
                    {% for m in widget.location.cities %}
                        <a data-id="{{ m.id }}" href="{{ m.link }}"
                           class="cities-main-window-list-link"> {{ m.name }} </a>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
    {% if widget.location.city.name is defined and widget.getParam('showmodalregion') == 'on' %}
        <div class="overlay"></div>
        <div class="cities-container-region" id="cities-container-region">
            <div class="cities-container-region-inner">
                <span class="cities-container-region-inner-city  "> Ваш город — <strong> {{ widget.location.city.name }}? </strong> </span>
                <div class="expanded button-group button-cities-group">
                    <input type="button" value="Да" class="button button-cities-yes " id="button-ok">
                    <input type="button" value="Другой город" class="button quaternary button_quaternary"
                           id="button-another">
                </div>
            </div>
        </div>
    {% endif %}
</div>